<div class="main-panel">
  <div class="content-wrapper">
    <h1 class="text-center">Manage User - <%= client.firstname %></h1>

    <form
      action="/admin/credit-user/<%=client.id%>"
      method="post"
      style="max-width: 500px"
      class="form mt-4 mx-auto">
      <h4 class="text-center">Add Profit</h4>
      <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error)
        { %>
        <div
          class="alert alert-warning text-dark alert-dismissible show"
          role="alert"
        >
          <%= error.msg %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }); %> <% } %> <% if(success_msg != ''){ %>
        <div
          class="alert alert-success bg-success text-white alert-dismissible show"
          role="alert"
        >
          <%= success_msg %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error_msg != ''){ %>
        <div
          class="alert alert-danger bg-danger text-white alert-dismissible show"
          role="alert"
        >
          <%= error_msg %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error != ''){ %>
        <div
          class="alert alert-danger bg-danger text-white alert-dismissible show"
          role="alert"
        >
          <%= error %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>

        <div class="mb-3">
          <label class="text-white">Amount</label>
          <input
            type="number"
            placeholder="Amount"
            name="amount"
            class="form-control text-white"
            required
          />
        </div>
        <div class="mb-3">
          <button class="btn btn-success">
            Credit User
          </button>
    </form>

    <hr>

    <form
    action="/admin/deposit-user/<%=client.id%>"
    method="post"
    style="max-width: 500px"
    class="form mt-4 mx-auto">
    <h4 class="text-center">Capital Deposit</h4>
    <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error)
      { %>
      <div
        class="alert alert-warning text-dark alert-dismissible show"
        role="alert"
      >
        <%= error.msg %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }); %> <% } %> <% if(success_msg != ''){ %>
      <div
        class="alert alert-success bg-success text-white alert-dismissible show"
        role="alert"
      >
        <%= success_msg %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if(error_msg != ''){ %>
      <div
        class="alert alert-danger bg-danger text-white alert-dismissible show"
        role="alert"
      >
        <%= error_msg %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if(error != ''){ %>
      <div
        class="alert alert-danger bg-danger text-white alert-dismissible show"
        role="alert"
      >
        <%= error %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>

      <div class="mb-3">
        <label class="text-white">Amount</label>
        <input
          type="number"
          placeholder="Amount"
          name="amount"
          class="form-control text-white"
          required
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success">
          Deposit User
        </button>
  </form>


    <hr>

    <form
      action="/admin/edit-user/<%=client.id%>"
      method="post"
      class="form mt-4 mx-auto"
      style="max-width: 500px"
    >
      <h4 class="text-center">Edit User</h4>
      <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error)
      { %>
      <div
        class="alert alert-warning text-dark alert-dismissible show"
        role="alert"
      >
        <%= error.msg %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% }); %> <% } %> <% if(success_msg != ''){ %>
      <div
        class="alert alert-success bg-success text-white alert-dismissible show"
        role="alert"
      >
        <%= success_msg %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if(error_msg != ''){ %>
      <div
        class="alert alert-danger bg-danger text-white alert-dismissible show"
        role="alert"
      >
        <%= error_msg %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %> <% if(error != ''){ %>
      <div
        class="alert alert-danger bg-danger text-white alert-dismissible show"
        role="alert"
      >
        <%= error %>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>

      <div class="mb-3">
        <label class="text-white">Full Name</label>
        <input
          type="text"
          placeholder="Full name"
          name="fullname"
          class="form-control text-white"
          required
          value="<%= client.fullname %>"
        />
      </div>
      <label class="text-white">Email</label>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Email"
          name="email"
          class="form-control text-white"
          required
          value="<%= client.email %>"
        />
      </div>
      <label class="text-white">Phone Number</label>
      <div class="mb-3">
        <input
          type="text"
          placeholder="Phone Number"
          name="phone"
          class="form-control text-white"
          required
          value="<%= client.phone %>"
        />
      </div>
      <label class="text-white">Balance</label>
      <div class="mb-3">
        <input
          type="number"
          placeholder="Balance"
          name="balance"
          class="form-control text-white"
          required
          value="<%= client.balance %>"
        />
      </div>
      <div class="mb-3">
        <label class="text-white">Total Profit</label>
        <input
          type="number"
          placeholder="Total Profit"
          name="totalProfit"
          class="form-control text-white"
          required
          value="<%= client.totalProfit %>"
        />
      </div>
      <div class="mb-3">
        <label class="text-white">Total Deposit</label>
        <input
          type="number"
          placeholder="Total Deposit"
          name="totalDeposit"
          class="form-control text-white"
          required
          value="<%= client.totalDeposit %>"
        />
      </div>
      <div class="mb-3">
        <label class="text-white">Total Withdrawals</label>
        <input
          type="number"
          placeholder="Total Withdrawals"
          name="totalWithdrawals"
          class="form-control text-white"
          required
          value="<%= client.totalWithdrawals %>"
        />
      </div>
      <div class="mb-3">
        <label class="text-white">Total Bonus</label>
        <input
          type="number"
          placeholder="Total Bonus"
          name="totalBonus"
          class="form-control text-white"
          required
          value="<%= client.totalBonus %>"
        />
      </div>
      <div class="mb-3">
        <label class="text-white">Total Referral Bonus</label>
        <input
          type="number"
          placeholder="Total Referral Bonus"
          name="totalReferralBonus"
          class="form-control text-white"
          required
          value="<%= client.totalReferralBonus %>"
        />
      </div>
      <!-- <div class="mb-3">
        <label class="text-white">Ask for upgrade</label>
        <select
          class="form-select form-control text-white"
          aria-label="Ask for upgrade"
          required
          name="upgrade"
        >
          <option value="<%=client.upgrade%>" class="text-white">Select</option>
          <option value="true" class="text-white">Yes</option>
          <option value="false" class="text-white">No</option>
        </select>
      </div> -->
      <!-- <div class="mb-3">
        <label class="text-white">Deactivate Account?</label>
        <select
          class="form-select form-control text-white"
          aria-label="Deactivate Account"
          required
          name="disabled"
        >
          <option value="<%=client.disabled%>" class="text-white">
            Select
          </option>
          <option value="true" class="text-white">Yes</option>
          <option value="false" class="text-white">No</option>
        </select>
      </div> -->
      <label class="text-white">Cost of Transfer Fee</label>
      <div class="mb-3">
        <input
          type="number"
          placeholder="Cost of transfer fee"
          name="cot"
          class="form-control text-white"
          required
          value="<%= client.cot %>"
        />
        <small class="text-white"
          >Add an amount if you want to require COT. Do not include dollar sign
          or comma!</small
        >
      </div>
      <label class="text-white">Withdrawal PIN</label>
      <div class="mb-3">
        <input
          type="number"
          placeholder="Withdrawal PIN"
          name="withdrawalPin"
          class="form-control text-white"
          required
          value="<%= client.withdrawalPin %>"
        />
      </div>
      <label class="text-white">Currency</label>
      <div class="form-group">
        <select class="form-control" name="currency" required>
          <option value="<%= client.currency %>">Select currency</option>
          <option value="USD">United States Dollar</option>
          <option value="EUR">Euro</option>
          <option value="JPY">Japanese Yen</option>
          <option value="GBP">British Pound Sterling</option>
          <option value="AUD">Australian Dollar</option>
          <option value="CAD">Canadian Dollar</option>
          <option value="CHF">Swiss Franc</option>
          <option value="CNY">Chinese Yuan</option>
          <option value="SEK">Swedish Krona</option>
          <option value="NZD">New Zealand Dollar</option>
          <option value="HKD">Hong Kong Dollar</option>
          <option value="SGD">Singapore Dollar</option>
          <option value="INR">Indian Rupee</option>
          <option value="KRW">South Korean Won</option>
          <option value="BRL">Brazilian Real</option>
          <option value="RUB">Russian Ruble</option>
          <option value="TRY">Turkish Lira</option>
          <option value="ZAR">South African Rand</option>
          <option value="MXN">Mexican Peso</option>
          <option value="PLN">Polish Zloty</option>
        </select>

        <div class="help-block with-errors"></div>
      </div>
      <label class="text-white">Password</label>
      <div class="mb-3">
        <input
          type="text"
          placeholder="password"
          name="clearPassword"
          class="form-control text-white"
          value="<%= client.clearPassword || '' %>"
        />
      </div>
      <button class="btn btn-success">Update Account</button>
    </form>
    <hr />
    <div style="max-width: 500px; margin: 2em auto">
      <br />
      <br />
      <br />
      <h3 class="mb-4">Dangerous Action</h3>
      <a href="/admin/delete-account/<%=client._id%>" class="btn btn-danger">
        <i class="fas fa-trash text-white"></i>
        Delete Account</a
      >
    </div>
  </div>
</div>
